body{
  background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0.5746673669467788) 0%),url(https://images.pexels.com/photos/289563/pexels-photo-289563.jpeg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;    
}
.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.dark{
  background:#FFF5E0 !important;  
}
.darkS{
  background:#8DECB4 !important;  
}
.scard{
  width:280px;
  height:400px;
  overflow:hidden;
  display:flex;
  flex-direction:column;   
  background:#fff;
  border-radius:10px;
  padding:15px;
  margin:10px;
  text-align:justify;
}
.imgb{
  width:100%;
  height:190px;
  object-fit:cover;
  background-position:bottom;
  background-size:cover;
  border-radius:10px;
}
.descrb{
  height: 100%;
}
.icons{
  display:flex;
  padding:5px 0px;  
  display:none;
}
.icon{
  display:block !important;
}

  .icons i{
    margin-right:15px;
  }
.footer{
  display:flex;
  justify-content:space-between;
  align-items:center;  
}
.amt{
  color:#141E46;
  font-weight:bold;
}
.read{
  border:none;
  background:#141E46;
  color:#fff;
  padding:5px 8px;
  border-radius:15px;
}
.footer i{
  background:#fff;
  padding:5px;
  border-radius:15px;
}